body {
    /* Better Font Rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #b6b6b6;
    shape-rendering: crispEdges;
}


/*.tick line{fill:none;stroke:none;}*/

.tick text {
    fill: #999;
}

g.tag.active {
    cursor: pointer;
}


/*text.label {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

text.value {
    font-size: 12px;
    font-weight: bold;
}*/

#week-chart {
    margin-bottom: 50px
}

#expenses {
    display: none;
}

#pie-chart {
    height: 475px;
    min-width: 800px
}

#tag-collection {
    /*width: 330px;*/
}

#tag-collection .collection-item.avatar {
    min-height: 60px
}

#logo {
    color: #33ccaa;
}

#logo > i {
    float: right;
    /*margin-left: 165px;*/
    color: white;
}

.tabs .tab a {
    color: #039be5 !important;
}

.tabs .tab.disabled a {
    color: #b3e5fc !important;
}

.tabs .indicator {
    background-color: #b3e5fc !important;
}


/*.tag-circle {
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
}*/

td > i {
    float: left;
}
